/* Navigation */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: var(--nav-background);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  border-bottom: solid 1px #969595;
}

nav {
  background-color: inherit;
}

nav ul {
  padding: 0;
  margin: 8px;
}

nav ul li {
  display: inline-block;
  background-color: inherit;
  padding: 8px 0;
  margin: 0 4px 0 4px;
}

nav ul li a {
  color: var(--body-foreground);
  padding: 8px 24px;
  background-image: linear-gradient(var(--body-foreground), var(--body-foreground)),
    linear-gradient(var(--body-foreground), var(--body-foreground));
  background-size: 0% 2px;
  background-position-y: 100%;
  background-position-x: 0%, 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
  text-decoration: none;
}

a:hover,
a:active,
a:is(:link, :active).active {
  background-size: 100% 2px;
}

/* Styling for the select dropdown */
#theme-select {
  background-color: inherit;
  color: var(--body-foreground);
  padding: 8px;
  border-radius: 8px;
  margin-right: 8px;
}

/* Styling for the options in the dropdown */
#theme-select option {
  background-color: inherit;
  color: var(--body-foreground);
}

:root {
  /* Default Styles */
  --card-background: #f1f1f1;
  --skills-background: #e2e2e2;
  --nav-background: #dfdfdf;
  --body-background: #fafafa;
  --body-foreground: #323232;
  --primary-text: #181818;
}

/* Themes */

/* Light mode */
[data-theme="light"] {
  --card-background: #f5f5f5;
  --skills-background: #e2e2e2;
  --nav-background: #dfdfdf;
  --body-background: #fafafa;
  --body-foreground: #323232;
  --primary-text: #181818;
}

/* Dark mode */
[data-theme="dark"] {
  --card-background: #1a1a1a;
  --skills-background: #272727;
  --nav-background: #333333;
  --body-background: #161616;
  --body-foreground: #e6e6e6;
  --primary-text: #fcfcfc;
}