.container {
  max-width: 1250px;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: auto;
  background-color: var(--neutral-40);
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.section-about {
  display: flex;
  background-color: lightblue;
  justify-content: center;
}

.about-main-div {
  display: flex;
  flex-direction: column;
  /* background-color: lightpink; */
  margin: 0 15%;
}

.about-title-div {
  /* background-color: lightyellow; */
  text-align: center;
  margin: 0 0 60px 0;
}

.about-title-div p{
  /* background-color: lightgreen; */
  font-size: 32px;
  font-weight: bold;
}

.about-content-div {
  display: flex;
  /* background-color: lightgray; */
}

.about-left-div {
  /* display: flex; */
  flex-basis: 50%;
  /* background-color: rgb(138, 221, 241); */
  padding: 0 36px;
}

.about-left-div p{
  margin-bottom: 16px;
  margin-right: 24px;
}

.about-left-div h2,
.about-right-div h2{
  margin-bottom: 36px;
}

.about-right-div {
  /* display: flex; */
  flex-basis: 50%;
  /* background-color: rgb(220, 233, 183); */
  padding: 0 36px;
}


.experience-card {
  display: flex;
  padding: 20px;
  border: 1px solid var(--neutral-50);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: var(--neutral-50); */
  margin-bottom: 10px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.details {
  flex: 1;
  /* background-color: blue; */
}

.details h2 {
  margin: 0;
}

.details h3 {
  margin: 0;
}

.details h4 {
  margin: 0;
}

.details ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
}

.details ul li {
  margin: 5px 5px 0px 0px;
  background-color: var(--neutral-30);
  border-radius: 20px;
  padding: 4px 16px;
  color: var(--neutral-100);
}

.details p {
  color: grey;
}

.development-div {
  display: flex;
  justify-content: center;
}

.development-tools {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 90%;
}

.development-tools-title-div {
  font-size: 36px;
  text-align: center;
  background-color: var(--neutral-50);
  margin: 16px;
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
}

.tools-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.tools-card h2 {
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--neutral-50);
}

.tools-card ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
}

.tools-card ul li {
    margin: 5px 5px 0px 0px;
    background-color: var(--neutral-30);
    border: 1px solid var(--neutral-50);
    padding: 4px 16px;
    color: var(--neutral-100);
}

.tools-card ul li:hover{
    margin: 5px 5px 0px 0px;
    background-color: var(--neutral-30);
    border: 1px solid var(--neutral-50);
    padding: 4px 16px;
    color: var(--neutral-100);
}


.about-right-div ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  margin: -8px;
}

.about-right-div ul li {
  margin: 8px 8px;
  background-color: var(--neutral-30);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--neutral-80);
  font-weight: bold;
}

