.container {
    max-width: 1250px;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: auto;
    background-color: white;
}

.left-section,
.right-section {
    flex: 1;
    padding: 20px;
}

.job {
    margin-bottom: 30px;
}

.job ul {
    list-style-type: disc;
}

.education {
    margin-bottom: 30px;
}

.skills {
    display: inline-block;
}

.skills span {
    display: inline-block;
    background-color: white;
    border: 1px solid grey;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.profile-section {
    max-width: 1250px;
    display: flex;
    margin: auto;
    background-color: white;
}

.profile-card {
    flex-basis: 50%;
}

.profile {
    display: flex;
    margin: 8px;
    background-color: white;
    padding: 16px;
}

.profile-picture {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 24px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
}

.social-link {
    display: inline-block;
    margin: 0 16px;
    fill: black;
}

.social-links svg {
    width: 36px;
    height: 36px;
}

.social-links svg:hover {
    opacity: 65%;
}

.cover-section {
    flex-basis: 50%;
    padding: 16px;
    margin: 8px;
    background-color: white;
}

/* Default Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: white;
    color: black;
}

h1,
h2,
h3 {
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}